<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/social-top %>

<div class="container">
  <div class="my-solid-background">
    <h1>Edit Series <%=series.series%></h1>
    <form action="/series/<%=series._id%>?_method=PUT" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" value="<%=series.series%>" name="series[series]">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>

</div>

<% include ../partials/footer %>
