<% include partials/header.ejs %>
<% include partials/nav.ejs %>
<% include partials/social-top.ejs %>

      <div class="container">
        <div class="my-solid-background">
          <h1>About the Author</h1>
        </div>
      </div>
    </div>



    <div class="container article-index-start-spacer article-index-end-spacer" style="text-align: center; color:white; font-size:1.25em;">

        <div class="image about-the-author-image"></div>

        <div style="text-align: left;" class="indent">
          <p>
            <em>Jeremy Bruce Adams</em>
            has worked as a software developer in cancer research and finance, all while moonlighting as an aspiring author. He has dived with sharks, zip lined through the rainforest, and swam in volcanic hot springs. He loves blending the fantasy and adventure genres, transporting readers to worlds of wild frontiers and larger-than-life heroes. When he isn’t writing, he’s catching up on the latest novels and video games. Jeremy lives with his wife in Toronto, Canada.
          </p>


        </div>
    </div>


<% include partials/footer.ejs %>
